.form{
    padding: 15px;
    display: grid;
    align-items: center;
    justify-content: center;
    min-width: 350px;
}

.datatable-responsive{
    border-collapse: collapse;
    padding: 20px;
    width: auto;
    border-radius: 10px;
    overflow: hidden;
}

.exc img{
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 425px) {
    .searchbar{
        width: 7rem;
    }

    .clearred {
        width: 16rem;
    }
}



.my-dialog .p-dialog-title {
    text-align: left;
  }
  
  .my-dialog .my-dialog-title {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
  }
  
  .my-dialog .my-dialog-value {
    display: inline-block;
    width: calc(100% - 160px);
  }
  
  .form-container-region {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .formregion {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    gap: 20px;
    border-radius: 15px;
    margin-top: 10px;
  }
  
  .regioninput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .Submitbuttonregion {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    height: 50%;
    margin-top: 30px;
  }
  
  .Submitbuttonregion:hover {
    background-color: #45a049;
  }
  
  @media only screen and (min-width: 768px) {
  
    /* adjust the breakpoint as needed */
    .form-container-region {
      display: grid;
      justify-content: center;
      align-items: center;
    }
  
    .formregion {
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;
    }
  
  
  }

  
@media screen and (max-width: 880px) {
    .datatable-responsive .p-datatable-thead > tr > th:nth-child(3),
    .datatable-responsive .p-datatable-tfoot > tr > td:nth-child(3),
    .datatable-responsive .p-datatable-tbody > tr > td:nth-child(3) {
        display: table-cell !important;
    }
}

@media screen and (max-width: 640px) {
    .datatable-responsive .p-datatable-thead > tr > th:nth-child(1),
    .datatable-responsive .p-datatable-tfoot > tr > td:nth-child(1),
    .datatable-responsive .p-datatable-thead > tr > th:nth-child(2),
    .datatable-responsive .p-datatable-tfoot > tr > td:nth-child(2)  {
      display: table-cell !important;
    }
  }
  
  @media screen and (max-width: 480px) {
    .datatable-responsive .p-datatable-thead > tr > th:nth-child(2),
    .datatable-responsive .p-datatable-tfoot > tr > td:nth-child(2),
    .datatable-responsive .p-datatable-tbody > tr > td:nth-child(2) {
      display: none !important;
    }
  }
  