.loginPage{
  height: 100vh;
  width: 100%;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 7px 50px rgb(214, 223, 213);
  background-color: #003f82;
  background: linear-gradient(
      106.37deg,
      #356bb7 29.63%,
      #00255d 51.55%,
      #2c5aa3 90.85%
    );
  
    
  .container{
      height: 95vh;
      width: 60%;
      margin: auto;
      justify-content: space-between;
      border-radius: 10px;
      background: var(--glass);
      box-shadow: rgba(23, 23, 23, .5) 0px 8px 24px;
      backdrop-filter: blur(1px);

      

      .videoDiv{
      position: relative;
      display: flex;
      flex-basis: 50%;
      width: 70%;
      height: 100%;
      padding: 0 1.5rem;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      margin: auto;
      border-radius: 10px;
      overflow: hidden;

      video, .footerDiv{
          position: absolute;
      }
      video{
          height: 100%;
          width: 100%;
          object-fit: cover;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
      }

      .textDiv{
          position: relative;

          .title{
              color: var(--blackColor);
              font-size: 35px;
              font-weight: 800;
          }

          p{
              color: var(--blackColor);
              padding: 1rem;
              font-weight: 400;
          }
      }

      .footerDiv{
          bottom: 10px;
          padding: 0 1rem;
          height: 60px;
          background: rgba(110, 158, 255, 0.438);
          left: 10px;
          right: 10px;
          justify-content: space-between;
          backdrop-filter: blur(1px);
          border-radius: 10px;

          .text{
              color: var(--blackColor);
          }

          .btn{
              background: var(--sfColor);
              color: var(--whiteColor);
              padding: .8rem 1.5rem;
              border-radius: 10px;
              font-weight: 400;
              transition: .3s ease;

          &:hover{
              background: var(--hoverColor);
              color: var(--blackColor);
          }    
          }
      }
      }    

      .formDiv{
      flex-basis: 50%;
      margin: auto;
      flex-direction: column;
      gap: 1rem;
      transform: translateY(-1rem);

          .headerDiv{
          text-align: center;
          padding: 1.5rem 0;

          img{
              width: 60px;
              padding-bottom: .5rem;
          }

          h3{
              font-size: 25px;
              color: var(--blackColor);
              font-weight: 600;
          }
          }

          .form{
          gap: .5rem;
          

          .inputDiv{
              .icon{
                  color: var(--greyText);
              }

              input{
                  background: none;
                  outline: none;
                  border: none;
                  width: 200px;
              }

              label{
                  color: var(--blackColor);
                  font-weight: 400;
                  font-size: 14px;
                  padding: .5rem 0;
                  display: block;
              }

              .input{
                  gap: .5rem;
                  padding: 1rem;
                  background: var(--inputColor);
                  border-radius: 10px;
              }
          }

          .btn{
              padding: .8rem;
              background: var(--sfColor);
              border-radius: 10px;
              color: var(--whiteColor);
              align-items: center;
              margin: auto;
              justify-content: center;
              font-size: 16px;
              width: 100%;
              gap: .5rem;
              transition: .3s ease;

              .icon{
                  font-size: 25px;
                  transition: .3s ease;
              }

              &:hover{
                  background: var(--hoverColor);
                  color: var(--blackColor);

                  .icon{
                      color: var(--blackColor);
                      transform: translateX(5px);
                  }
              }
          }

          .forgotPassword{
              font-size: 13px;
              color: var(--blackColor);
              opacity: .7;
              text-align: center;

              a{
                  text-decoration: underline;
                  cursor: pointer;
                  opacity: 1;
              }
          }
          }
      }    
  }
}



// Queries for Login & Register
@media screen and (max-width: 602px){
  .loginPage{
      .container{
          height: 100%;
          width: 100%;
          flex-direction: column;
          padding: 1.5rem;

          .videoDiv{
              width: 100%;
              .textDiv{
                  .title{
                      font-size: 20px;
                  }

                  p{
                      padding: 1rem;
                  }
              }

              .footerDiv{
                  .text{
                      font-size: 12px;
                  }

                  .btn{
                      padding: .4rem 1.5rem;
                  }
              }
          }

          .formDiv{
              gap: 1rem;
              transform: translateY(-.5rem);

              .headerDiv{
                  padding: 1rem 0;

                  img{
                      width: 40px;
                  }

                  h3{
                      font-size: 20px;
                  }
              }

              .form{
                  gap: .5rem;

                  .inputDiv{
                      input{
                          width: 100%;
                      }
                  }
              }
          }
      }
  }
}

@media screen and (max-width: 678px){
  .loginPage{
      .container{
          .videoDiv{
              .textDiv{
                  .title{
                      font-size: 25px;
                  }

                  p{
                      padding: 1rem;
                  }
              }

              .footerDiv{
                  .text{
                      font-size: 12px;
                  }

                  .btn{
                      padding: .8rem 1.5rem;
                  }
              }
          }

          .formDiv{

              .headerDiv{
                  padding: 1.5rem 0;

                  h3{
                      font-size: 20px;
                  }
              }

              .form{

                  .inputDiv{
                      input{
                          width: 100%;
                          max-width: 200px;
                      }
                  }
              }
          }
      }
  }
}

@media screen and (max-width: 927px){
  .loginPage{
      .container{
          width: 85%;
      }
  }
}
