.form{
    padding: 15px;
    display: grid;
    align-items: center;
    justify-content: center;
    min-width: 320px;
}

.datatable-responsive{
    border-collapse: collapse;
    padding: 20px;
    width: auto;
    border-radius: 10px;
    overflow: hidden;
}

.exc img{
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 460px) {

    .clearred {
        margin-left: 2rem;
        width: 28rem;
    }
    .searchbar{
        width: 15rem;
    }
    .p-float-label{
        margin-left: 25px;
    }

}

@media screen and (max-width: 425px) {
    .searchbar{
        width: 7rem;
    }

    .clearred {
        width: 16rem;
    }
    .p-float-label{
        margin-left: -25px;
    }
}

@media screen and (max-width: 380px) {
    .clearred {
        margin-left: -1.5rem;
    }
}





.my-dialog .p-dialog-title {
    text-align: left;
  }
  
  .my-dialog .my-dialog-title {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
  }
  
  .my-dialog .my-dialog-value {
    display: inline-block;
    width: calc(100% - 160px);
  }
  
  @media screen and (max-width: 670px) {

    .my-dialog .my-dialog-title {
        text-align: left !important;
      }
      
      .my-dialog .my-dialog-value {
        text-align: left !important;
        margin-left: 1px;
      }
}

@media screen and (max-width: 1215px) {
    .datatable-responsive .p-datatable-thead > tr > th:nth-child(6),
    .datatable-responsive .p-datatable-tfoot > tr > td:nth-child(6),
    .datatable-responsive .p-datatable-tbody > tr > td:nth-child(6),
    .datatable-responsive .p-datatable-thead > tr > th:nth-child(5),
    .datatable-responsive .p-datatable-tfoot > tr > td:nth-child(5),
    .datatable-responsive .p-datatable-tbody > tr > td:nth-child(5)  {
      display: none !important;
    }
}


@media screen and (max-width: 1000px) {
    .datatable-responsive .p-datatable-thead > tr > th:nth-child(4),
    .datatable-responsive .p-datatable-tfoot > tr > td:nth-child(4),
    .datatable-responsive .p-datatable-tbody > tr > td:nth-child(4) {
        display: none !important;
    }
}

@media screen and (max-width: 880px) {
    .datatable-responsive .p-datatable-thead > tr > th:nth-child(3),
    .datatable-responsive .p-datatable-tfoot > tr > td:nth-child(3),
    .datatable-responsive .p-datatable-tbody > tr > td:nth-child(3) {
        display: none !important;
    }
}

  
@media screen and (max-width: 480px) {
    .datatable-responsive .p-datatable-thead > tr > th:nth-child(2),
    .datatable-responsive .p-datatable-tfoot > tr > td:nth-child(2),
    .datatable-responsive .p-datatable-tbody > tr > td:nth-child(2) {
      display: none !important;
    }
  }
  
  @media screen and (max-width: 460px) {
    .datatable-responsive {
        margin-left: 40px;
        margin-right: 40px;
    }  
  }    

  @media screen and (max-width: 425px) {
    .datatable-responsive {
        margin-left: -30px;
        margin-right: -30px;
    }  
  }    

  @media screen and (max-width: 380px) {
    .datatable-responsive {
        margin-left: -50px;
        margin-right: -30px;
    }  
  }  

  @media screen and (max-width: 345px) {
    .datatable-responsive {
        margin-left: -40px;
        margin-right: 40px;
    }  
  }    