$bodyBg: #F3F4FA;
$mainBg: #fff;
$mainColor: #2c527a;
$txtColor: #4E4D4F;
$purple: #8624DB;
$orange: #FF9066;
$white: #fff;
$black: #000;
$green: #4CAF50;
$red: #DB190C;

$fontFamily: 'Roboto', sans-serif;

$fontSizeNormal: .9rem;
$fontSizeMedium: 1rem;
$fontSizeLarge: 1.5625rem;

$sideBarWidth: 284px;
$sideBarLogoHeight: 171px;
$sideBarLogoWidth: 171px;
$spacing: 18px;
$mobileSpacing: 24px;
$borderRadius: 30px;

$mobile-width: 425px;
$tablet-width: 768px;
